<launch>
    <arg name="robot_type" default="wheel_legged" />

    <param name="wheel_legged_description" textfile="$(find wheel_legged_description)/urdf/Wheel_legged_save.urdf" />

    <rosparam file="$(find wheel_legged_gazebo)/config/default.yaml" command="load"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find wheel_legged_gazebo)/worlds/empty_world.world"/>
    </include>
    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          args="-z 1 -param wheel_legged_description -urdf -model $(arg robot_type)" output="screen"
          />

</launch>