<launch>
  <arg name="mpc_observation_config"  default="$(find wheelleg_hardwares)/config/multiplot/mpc_observation.xml" />
  <arg name="mpc_output_config"      default="$(find wheelleg_hardwares)/config/multiplot/mpc_output.xml" />

  <!-- Launch RQT Multi-plot -->
  <node name="mpc_observation" pkg="rqt_multiplot" type="rqt_multiplot" 
    args="--multiplot-run-all --multiplot-config $(arg mpc_observation_config)"
    output="screen"/>

  <node name="mpc_output" pkg="rqt_multiplot" type="rqt_multiplot"
    args="--multiplot-run-all --multiplot-config $(arg mpc_output_config)"
    output="screen"/>

  <!-- Launch Performance Indices Multi-plot -->
  <!-- <include file="$(find ocs2_ros_interfaces)/launch/performance_indices.launch">
    <arg name="mpc_policy_topic_name"      value="wheelleg_mpc_policy"/>
  </include> -->
</launch>
